/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.block-buttons {
  width: 50%;
  text-align: right;
}

.form-control {
  width: 50%;
}

.mensagem-sucesso {
  width: 50%;
  background-color: #dff2bf;
  border: 1px solid #4f8a10;
  margin: 0px 0px 20px 0px;
  padding: 8px 12px 8px 12px;
  font-family: Arial !important;
  font-size: 12px !important;
  color: #4f8a10 !important;
}

.mensagem-alerta {
  width: 50%;
  background-color: #f8f8a8;
  border: 1px solid #888808;
  margin: 0px 0px 20px 0px;
  padding: 8px 12px 8px 12px;
  font-family: Arial !important;
  font-size: 12px !important;
  color: #081088 !important;
}

.mensagem-erro {
  width: 50%;
  background-color: #f8e8e8;
  border: 1px solid #881008;
  margin: 0px 0px 20px 0px;
  padding: 8px 12px 8px 12px;
  font-family: Arial !important;
  font-size: 12px !important;
  color: #881008 !important;
}

.css-2b097c-container {
  max-width: 555px;
}

.react-datepicker-wrapper {
  display: inline !important;
}
